html, body, #root {
    min-height: 100%;
}

.container {
    margin: 50px 0 100px;
    max-width: 65% !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
}

.footer {
    position: fixed;
    display: flex;
    align-items: center; 
    justify-content: center; 
    background-color: #343a40; 
    width: 100%; 
    height: 50px;
    left: 0;
    bottom: 0;
}

.footer > a {
    text-decoration: none;
    color: #fff;
}

.footer > a:hover {
    text-decoration: none;
    color: #91c7ff;
}